.container {
  min-height: 100vh;
  padding-top: 56px; // header height
  @apply my-0 mx-auto flex justify-center items-start text-center flex-col;
}

.main {
  @apply w-full max-w-5xl mx-auto px-8 py-2 flex-auto;
}

.articles {
  @apply text-left w-full py-4 rounded-lg;
  .article {
    @apply max-w-5xl mx-auto px-4 py-2 rounded border border-solid border-primary;

    &.article--clickable {
      &:hover {
        @apply border-primary-300 bg-primary-800 bg-opacity-25;
      }
    }
  }
}
.article {
  @apply text-left block w-full duration-100;

  .article-title {
    @apply font-bold text-2xl;
  }
}

.cover-image {
  max-height: 500px;
  @apply w-full object-cover my-4;
}

//* LIGHT MODE
.light-mode {
  .articles {
    .article {
      @apply border-primary-400;

      &.article--clickable {
        &:hover {
          @apply border-primary-300 bg-primary-200 bg-opacity-25;
        }
      }
    }
  }
}
