.icon {
  background-color: var(--bg-secondary);
  border: 2px solid var(--border-color);
  @apply relative m-0 p-2 top-0 cursor-pointer rounded transition-all duration-200 ease-in-out;

  &:hover {
    transform: translateY(-1px);
    border-color: var(--border-color-secondary);
  }
  &.selected {
    color: var(--color-primary);
  }
}
.light-mode {
  .icon {
    background-color: var(--bg);
    border-color: var(--border-color-secondary);

    &:hover {
      border-color: var(--border-color);
    }
  }
}
