@layer base {
  .wrapper {
    min-height: 100vh;
    padding-top: 56px; /* header height */
    @apply my-0 mx-auto flex justify-center items-start flex-col;
  }

  .main {
    @apply flex flex-col flex-auto w-full max-w-5xl mx-auto px-8 pt-8 pb-16;
  }
}
