@layer base {
  .wrapper {
    min-height: 100vh;
    @apply my-0 pt-16 mx-auto flex justify-center items-start flex-col;
  }

  main {
    @apply flex flex-col flex-auto w-full mx-auto px-8 pt-4 pb-16;
  }
}
