@import './_vars.pcss';
@import './_transitions.pcss';
@import './_globals.pcss';

/* @layer base START */
@import './_typography.pcss';
@import './_forms.pcss';
@import './_grid.pcss';
@import './_cards.pcss';
/* @layer base END */

/* @layer components START */
@import './_btns.pcss';
/* @layer components END */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* If you need to let Tailwind classes overwrite your own classes, they need to be beneath this */
