@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './_vars.pcss';
@import './_transitions.pcss';
@import './_globals.pcss';

/* @layer base START */
@import './_typography.pcss';
@import './_forms.pcss';
@import './_grid.pcss';
@import './_cards.pcss';
/* @layer base END */

/* @layer components START */
@import './_btns.pcss';
/* @layer components END */
