.frame-content {
  margin: 1rem;
}

.frame-content > div > div + div {
  margin-top: 0.5rem;
  border-top: 1px dashed #dfdfe3;
  padding-top: 0.5rem;
}

html {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #ECEFF5;
  color: #1C263B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}